# turborepo
.turbo

# pnpm
node_modules

# build outputs
dist
build
coverage
reports

# macOS
.DS_Store

# Next.js
apps/web/.next/
.next/

# Vercel
.vercel

# Environment variables
.env
.env.local
.env*.local
*.env.local
